
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --cor-background-light: linear-gradient(white, rgba(0, 238, 255, 0.39));
    --cor-background-dark:linear-gradient(black, rgb(5, 0, 70));
    --cor-background-container-light: white;
    --cor-background-container-dark: rgba(1, 0, 22, 0.425);
}
body{
    min-height: 100vh;
    background-image: var(--cor-background-light);
    transition: 0.3s;
}

input[type="checkbox"]{
    display: none;
}

.bi{
    font-size: 1.5rem;
    cursor: pointer;
}

.bi-moon{
    display: none;
}

i .dark{
    display: none;
}

i .dark{
    display: block;
}

#modoDark{
    position: fixed;
    top: 10px;
    left: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dark-body{
    background-image: var(--cor-background-dark);
    color: white;
}

.dark-container{
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 440px;
    border-radius: 25px;
    color: white;
    background-color: var(--cor-background-container-dark);
    box-shadow: 0 0 1em rgb(5, 0, 70);
}

.dark-text{
    color: var(--cor-background-container-light);
}
h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}
button{
    padding: 10px;
}
ul{
    list-style: none;
}
form{
    padding: 20px 0;
}
.title{
    margin: 20px;
}
#container-pagina-inicial{
    border-radius: 35px;
    padding: 30px;
    width: 800px;
}

.title{
    text-align: center;
}
.form-inicial{
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 440px;
    border-radius: 25px;
    background-color: var(--cor-background-container-light);
    box-shadow: 0 0 1em rgb(0, 238, 255);

}
#container-pagina-inicial input,#container-pagina-inicial select, #container-pagina-inicial button{
    padding: 10px;
    margin: 10px 0;
    
}
#container-pagina-inicial input,#container-pagina-inicial select{
    border: 1px solid rgb(0, 89, 95);
    border-radius: 10px;
}
#container-pagina-inicial input[type=text]:focus ,#container-pagina-inicial select:focus{
    border: 1px solid rgb(0, 89, 95);
}

.display-none{
    display:none;
}
.container{
    margin:0;
    padding: 0px;
    min-height: 100vh;
}

.container h2{
    display: flex;
    padding: 15px;
    justify-content: center;
}
.questionario h3, .questionario p{
    display: inline-block;
    margin-bottom: 10px;
}
.quiz-container label{
    display: block;
    padding: 5px 0;
}
.quiz-container{
    border: 1px solid gray;
    padding: 10px;
    margin: 5px 0;
    width: 800px;
}

.questionario{
    height: 75vh;
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    background-color: var(--cor-background-container-light);
}

/* Estilizar a barra de rolagem vertical */
.questionario::-webkit-scrollbar {
    width: 1px; /* Largura da barra de rolagem */
    }

.questionario::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
    }

.questionario::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da alça (thumb) da barra de rolagem */
    }

.botao-quiz{
    display: flex;
    justify-content: space-between;
}

#container-rank h1{
    text-align: center;
    font-size: 45px;
    padding: 25px;
}

.infos-rank{
    background-color: var(--cor-background-container-light);
    width: 800px;
    min-height: 80vh;
}

#resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultados h2{
    margin: 15px;
}
#resultados table{
    width: 600px;
    border-collapse: collapse;
}
#resultados th, #resultados td{
    border: 1px solid black;
    padding: 5px;
}

#rankeamento{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#rankeamento div h3{
    text-align: center;
}

#rankeamento ol {
    list-style-position: inside; /* Coloca a numeração dentro do espaço da div */
}

