
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --cor-background-light: linear-gradient(white, rgba(0, 238, 255, 0.39));
    --cor-background-dark:linear-gradient(black, rgb(5, 0, 70));
    --cor-background-container-light: white;
    --cor-background-container-dark: rgba(1, 0, 22, 0.425);
}

body{
    min-height: 100vh;
    background-image: var(--cor-background-light);
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    transition: 0.3s;
    color: black;
}

input[type="checkbox"]{
    display: none;
}

.bi {
    font-size: 1.8rem;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    margin: 0;
    padding: 0;
}

.bi-moon {
    display: none;
}

.dark-body .bi{
    display: none;
}
.dark-body .bi-moon{
    display: block;
}


#modoDark{
    position: fixed;
    top: 10px;
    right: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.player-ctrl {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.player-ctrl h2 {
    font-family: sans-serif;
    padding-left: 20px;
    font-weight: 300;
    display: flex;
}

i {
    font-size: 50px;
    line-height: 50px;
    padding: 13px;
}

a {
    background-color: #fb5f70;
    border-radius: 5px;
    padding: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#nomeusu{
    border-radius: 10px;
}

#tema{
    border-radius: 10px;
}

#btn-iniciar, #btn-novo-quiz, .btn-concluir, .btn-voltar-inicio{
    border-radius: 10px;
    border-color: rgb(134, 124, 234);
    color: rgb(134, 124, 234);
}

#btn-iniciar:hover, #btn-novo-quiz:hover, .btn-concluir:hover, .btn-voltar-inicio:hover{
    border-radius: 10px;
    border-color: rgb(36, 23, 178);
    transition: 0.5s;
}

.dark-body{
    background-image: var(--cor-background-dark);
    color: white;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}
button{
    padding: 10px;
    cursor: pointer;
}
ul{
    list-style: none;
}
form{
    padding: 20px 0;
}
.title{
    margin: 20px;
}
#container-pagina-inicial{
    border-radius: 35px;
    padding: 30px;
    width: 800px;
}

.title{
    text-align: center;
}

.form-inicial{
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 440px;
    border-radius: 25px;
    background-color: var(--cor-background-container-light);
}

.dark-body .form-inicial, .dark-body .questionario, .dark-body .infos-rank{
    background-color: var(--cor-background-container-dark);
    box-shadow: 0 0 1em rgb(5, 0, 70);
}

#container-javascript h2{
    color: white;
}
#container-pagina-inicial input,#container-pagina-inicial select, #container-pagina-inicial button{
    padding: 10px;
    margin: 10px 0;
    
}
#container-pagina-inicial input,#container-pagina-inicial select{
    border: 1px solid rgb(0, 89, 95);
    border-radius: 10px;
}
#container-pagina-inicial input[type=text]:focus ,#container-pagina-inicial select:focus{
    border: 1px solid rgb(0, 89, 95);
}

.display-none{
    display:none;
}

.container{
    margin:0;
    padding: 0px;
    min-height: 100vh;
}

.container h2{
    display: flex;
    padding: 15px;
    justify-content: center;
}
.questionario h3, .questionario p{
    display: inline-block;
    margin-bottom: 10px;
}
.quiz-container label{
    display: block;
    padding: 5px 0;
}
.quiz-container{
    border: 1px solid gray;
    padding: 10px;
    margin: 5px 0;
    width: 800px;
    border-radius: 10px;
}

.questionario{
    height: 75vh;
    padding: 10px;
    overflow: auto;
    margin-bottom: 20px;
    background-color: var(--cor-background-container-light);
}

/* Estilizar a barra de rolagem vertical */
.questionario::-webkit-scrollbar {
    width: 1px; /* Largura da barra de rolagem */
    }

.questionario::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
    }

.questionario::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da alça (thumb) da barra de rolagem */
    }

.botao-quiz{
    display: flex;
    justify-content: space-between;
}

#container-rank h1{
    text-align: center;
    font-size: 45px;
    padding: 25px;
}

.infos-rank{
    background-color: var(--cor-background-container-light);
    width: 800px;
    min-height: 80vh;
}

.tabela-resultados, th{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

table{
    margin-top: 30px;
    margin-left: 45px;
    border-spacing: 0;
}

#resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultados h2{
    margin: 15px;
}
#resultados table{
    width: 600px;
    border-collapse: collapse;
}
#resultados th, #resultados td{
    border: 1px solid black;
    padding: 5px;
}

#rankeamento{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#rankeamento div h3{
    text-align: center;
}

#rankeamento ol {
    list-style-position: inside; /* Coloca a numeração dentro do espaço da div */
}
